[submodule "deps/mach-glfw"]
	path = deps/mach-glfw
	url = https://github.com/hexops/mach-glfw
[submodule "deps/vulkan-zig"]
	path = deps/vulkan-zig
	url = https://github.com/Snektron/vulkan-zig
[submodule "deps/techna-sans"]
	path = deps/techna-sans
	url = https://github.com/carlstype/techna-sans
[submodule "deps/zva"]
	path = deps/zva
	url = https://github.com/jjkh/zva
[submodule "deps/zlm"]
	path = deps/zlm
	url = https://github.com/ziglibs/zlm
